---
layout: page
title: " "
---
  <div id="HeaderCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="dark">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#HeaderCarousel" data-bs-slide-to="0" aria-label="Bartallama3D Logo" class="active"
        aria-current="true"></button>
      <button type="button" data-bs-target="#HeaderCarousel" data-bs-slide-to="1" aria-label="3D Design" ></button>
      <button type="button" data-bs-target="#HeaderCarousel" data-bs-slide-to="2" aria-label="3D Printing"></button>
      <button type="button" data-bs-target="#HeaderCarousel" data-bs-slide-to="3" aria-label="3D Prototyping"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/llama-logo-carousel.jpg" alt="Our Logo featuring our llama that says Bartallama3D and our website URL https://Bartallama3D.design">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/design.jpg" alt="an image of Fusion 360 showing one of our designed parts advertising our 3D design services">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/printing.jpg" alt="a photo of one of our 3D printers showcasing our 3D printing services">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/prototyping.jpg" alt="a photo of a desk containing various 3D printed prototypes like covers, cases and containers showcasing our prototyping services">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#HeaderCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#HeaderCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<br/>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2 class="fw-normal">Design</h2>
        <p>All of our products are designed in-house. We strive to create delightful products that look and feel amazing!</p>
        <p><a class="btn btn-secondary" href="/products">See our products »</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <h2 class="fw-normal">Printing</h2>
        <p>All of our products are always printed on our own 3D printers. We build all of our own printers from scratch and maintain.
        </p>
        <p><a class="btn btn-secondary" href="/team">Meet the team »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <h2 class="fw-normal">Prototyping</h2>
        <p>Got an idea? Need a prototype created? We have services for you!</p>
        <p><a class="btn btn-secondary" href="mailto:hello@bartallama3d.design?subject=Website - Prototyping information request"><i class="fas fa-envelope"></i> E-mail us!</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

