---
layout: base
---

{% include header.html type="page" %}

<div class="container px-4 py-5" id="team-listing">
  <h2 class="pb-2 border-bottom">Meet the team</h2>
  <span>All of our 3D printers are built in-house. While we don't design the printers, we pride ourselves on printing high quality parts, sourcing top of the line components, and maintaining the printers for optimal performance.</span>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col">
      <img src="/assets/img/team/voron24.jpg">
      <h3 class="fs-2 text-body-emphasis">Voron 2.4</h3>
      <p>The Voron 2.4 is the oldest 3D printer on the team and the original printer that kick-started the Bartallama3D idea. Entering service in May 2023, this Voron 2.4 was built after using a Prusa MK3S for a few years. I was 
        looking to expand my 3D printing capabilities to ABS and create more advanced parts while also upgrading my print quality. This printer was built from an LDO kit with a Phaetus Rapido hotend, Klicky Probe, and a few other upgrades.
        The Voron 2.4 is capable of printing PETG and ABS and has a print area of 350x350x350.
      </p>
    </div>
    <div class="col">
      <img src="/assets/img/team/prusa4.jpg">
      <h3 class="fs-2 text-body-emphasis">Prusa MK 4</h3>
      <p>The Prusa MK4 was acquired to expand the available printers for printing PETG parts. The Prusa MK4 entered service on 7/4/2023 and officially kicked off the Bartallama3D store on Etsy printing our first item, the Unifi Flex 1-Gang camera bracket.
        The Prusa MK4 was customized and built using custom printed ABS parts. The color scheme on the printer is Glitter ABS Gray and Teal from Polymaker. The printer otherwise is a common off the shelf Prusa MK4 in an Prusa Enclosure to 
        help with PETGs unhappiness with drafts. 
        The Prusa MK4 primarily prints PETG and has a print area of 250x210x220.
      </p>
    </div>
    <div class="col">
      <img src="/assets/img/team/trident.jpg">
      <h3 class="fs-2 text-body-emphasis">Voron Trident</h3>
      <p>The Voron Trident is the newest printer in our arsenal. Entering service in January 2024, this Voron Trident was built to expand our fleet of ABS capable printers. The Trident EZ-Bake enclosure helps maintain
        temperature within the chamber, keeping the surroundings cooler. The trident also features an upgraded CANBus toolboard, Phaetus Rapido hotend, Gallileo 2 extruder, and a Voron-Tap probe for perfect first layers.
        The trident is capable of printing PETG, ABS, and other exotic filaments and has a print area of 350x350x250.
      </p>
    </div>
  </div>
</div>
